generated/
target/

# eclipse
.project
.classpath
.settings/
.wtpmodules

# intellij
*.iml
*.ipr
*.iws
.idea

*.log
*.tlog

# hprof
java_pid*

# vi backup file
*~

/jaxws-ri/tools/wscompile/com
/jaxws-ri/tools/wscompile/jaxws

work/
